nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}
nav li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
nav > ul{
    display: flex;
}
nav li:hover{
    background-color: coral;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: chartreuse;
    padding: 0;
}
.dropdown li{
    margin: 0;
    padding: 0 20px;
}
nav > ul > li:hover > ul{
    display: block;
    
}